extends layout

block content
    form(method='post')
        div(class='form-group')
            label(for='id') id:
            input(value ='#{impartir.id}' name='id'  class='form-control' type='number' required)
        div(class='form-group')
            label(for='nombre') Profesor:
            select(value ='#{impartir.profesor.nombre}' name='profesor' class='form-control' required)
                each profesor in profesores
                    option(value='#{profesor._id}') #{profesor.nombre} #{profesor.apellido}
                    if impartir.profesor.nombre == profesor.nombre
                        option(value='#{profesor._id}' selected='selected') #{profesor.nombre} #{profesor.apellido}
        div(class='form-group')
            label(for='asignatura') Asignatura:
            select(value ='#{impartir.asignatura.nombre}' name='asignatura'  class='form-control'  required)
                each asignatura in asignaturas
                    option(value='#{asignatura._id}') #{asignatura.nombre}
                    if impartir.asignatura.nombre == asignatura.nombre
                        option(value='#{asignatura._id}' selected='selected') #{asignatura.nombre}
        div(class='form-group')
            label(for='horas') horas:
            input(value ='#{impartir.horas}' name='horas'  class='form-control' type='number' required)
        div(class='form-group')
            label(for='fecha_inicio') Fecha inicio:
            input(value ='#{impartir.fecha_inicio}' name='fecha_inicio', id='fechaInicio',  class='form-control' type='text' onclick="mostrarCalendarioInicio()" required)
        div(class='form-group')
            label(for='fecha_fin') Fecha fin:
            input(value ='#{impartir.fecha_fin}' name='fecha_fin', id='fechaFin',  class='form-control' type='text' onclick="mostrarCalendarioFin()" required)

        div(class='form-group')
            button(type='submit' name ='_id' value='#{impartir._id}') Enviar