extends layout

block content
    form(method='post')
        div(class='form-group')
            label(for='id') id:
            input(value ='#{matricula.id}' name='id'  class='form-control' type='number' required)
        div(class='form-group')
            label(for='nombre') Alumno:
            select(value ='#{matricula.alumno.nombre}' name='alumno' class='form-control' required)
                each alumno in alumnos
                    option(value='#{alumno._id}') #{alumno.nombre} #{alumno.apellido}
                    if matricula.alumno.nombre == alumno.nombre
                        option(value='#{alumno._id}' selected='selected') #{alumno.nombre} #{alumno.apellido}
        div(class='form-group')
            label(for='asignatura') Asignatura:
            select(value ='#{matricula.asignatura.nombre}' name='asignatura'  class='form-control'  required)
                each asignatura in asignaturas
                    option(value='#{asignatura._id}') #{asignatura.nombre}
                    if matricula.asignatura.nombre == asignatura.nombre
                        option(value='#{asignatura._id}' selected='selected') #{asignatura.nombre}   
        div(class='form-group')
            label(for='fecha_inicio') Fecha inicio:
            input(value ='#{matricula.fecha_inicio}' name='fecha_inicio', id='fechaInicio',  class='form-control' type='text' onclick="mostrarCalendarioInicio()" required)
        div(class='form-group')
            label(for='fecha_fin') Fecha fin:
            input(value ='#{matricula.fecha_fin}' name='fecha_fin', id='fechaFin',  class='form-control' type='text' onclick="mostrarCalendarioFin" required)
        div(class='form-group')
            button(type='submit' name ='_id' value='#{matricula._id}') Enviar